<div class="page-heading-box">
	<div class="container">
	  <h1>Mappings <small>/ <%= @mapping.name %></small></h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<%= render 'shared/video', :url => @mapping.video, :title => @mapping.name %>
			<%= render 'mappings/description', :mapping => @mapping %>
			
		</div>
		<div class="col-md-4">
			<%= render 'users/info', :user => @mapping.user, :total_mappings => @mapping.user.mappings.count %>
			<%= render 'mappings/info', :mapping => @mapping %>
		</div>
	</div>
</div>